.home-page {
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

.hero-image-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: var(--home-page-background-image);
  background-size: cover;
  background-position: 60%;
  background-repeat: no-repeat;
}

.hero-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.hero-text-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  color: var(--home-page-primary-text-color);
  gap: 100px;
}

.main-hero-text {
  font-size: 3rem;
  text-transform: uppercase;
  line-height: 0.9;
}

.right-hero {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sub-hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  font-size: 1rem;
}

.hero-button {
  padding: 10px;
  width: 50%;
  max-width: 150px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--home-page-primary-text-color);
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  transition: background-color 0.3s ease;
  border: 1px solid var(--home-page-primary-text-color);
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.9rem;
}

.hero-button:hover {
  background-color: var(--home-page-shop-button-background-color-hover);
  color: var(--home-page-shop-button-text-color-hover);
}

.hero-button i {
  font-size: 1.5rem;
  margin-left: 8px;
}

@media screen and (min-width: 768px) {
  .hero-text-container,
  .right-hero {
    gap: 50px;
  }

  .main-hero-text {
    font-size: 4rem;
  }

  .hero-button {
    align-self: flex-end;
  }
}

@media screen and (min-width: 1024px) {
  .hero-text-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .main-hero-text {
    font-size: 6rem;
    align-self: flex-end;
  }

  .right-hero {
    width: 40%;
    justify-content: flex-end;
  }

  .sub-hero-text {
    gap: 40px;
  }

  .sub-hero-text p {
    width: 50%;
  }

  .sub-hero-text p:first-child {
    align-self: flex-end;
  }

  .sub-hero-text p:last-child {
    align-self: flex-start;
  }
}

@media screen and (min-width: 1440px) {
  .main-hero-text {
    font-size: 8rem;
  }
}
