.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--navbar-background-color);
  padding: 10px 20px;
  position: relative;
  z-index: 3;
  height: 10vh;
}

.navbar-logo a {
  color: var(--navbar-text-color);
  font-size: 1.5rem;
  text-decoration: none;
}

.navbar-toggle {
  color: var(--navbar-text-color);
  font-size: 1.5rem;
  cursor: pointer;
  display: block;
}

.navbar-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--navbar-background-color);
  padding: 10px 0;
  align-items: center;
  list-style-type: none;
}

.navbar-menu.open {
  display: flex;
}

.navbar-item {
  margin: 10px 0;
  text-align: center;
}

.navbar-link {
  color: var(--navbar-text-color);
  text-decoration: none;
  font-size: 1rem;
  position: relative;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
  gap: 5px;
  line-height: 1;
  height: 30px;
}

.navbar-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0px;
  left: 0;
  background-color: var(--navbar-text-color);
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.navbar-link:hover::before {
  visibility: visible;
  width: 100%;
}

.navbar-cart {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cart-count {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 0.6rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.cart-empty {
  background-color: var(--cart-empty-background-color);
  color: var(--cart-empty-text-color);
}

.cart-not-empty {
  background-color: var(--cart-not-empty-background-color);
  color: var(--cart-not-empty-text-color);
}

@media screen and (min-width: 768px) {
  .navbar {
    flex-direction: row;
  }

  .navbar-toggle {
    display: none;
  }

  .navbar-menu {
    display: flex;
    flex-direction: row;
    gap: 30px;
    position: static;
    width: auto;
    background-color: transparent;
    padding: 0;
  }

  .navbar-link {
    font-size: 1rem;
  }
}
